.results{
    background-image:  linear-gradient(90deg, rgba(0,0,0,1) 40%, rgba(15, 15, 15, 0.3) 60%),url('../../../assets/heroheader.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
 }
 .result-card{
       background: rgba(186, 186, 186, 0.4);
       box-shadow: 0 0px 5px 0 rgba(89, 90, 106, 0.37);
       backdrop-filter: blur(4.5px);
       -webkit-backdrop-filter: blur(5.5px);
 }
