.cards{
    background-repeat: no-repeat;
    font-family: 'Roboto Mono', monospace;
  }
  .service-card{
    background-size: cover;
    background-repeat: no-repeat;
   
  }
  .services{
   background-color: #d1d1d1;
  }
  
  